.div {
  width: 20rem;
  height: 12rem;
  padding: 2%;
}

.container {
  display: flex;
  border: 2px solid #3291a8;
  border-radius: 10px;
}

.image {
  display: block;
  width: 40%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.title {
  width: 60%;
  margin-left: 10px;
}

.h1 {
  color: #7ead74;
}
