.flex_container {
  display: flex;
  padding: 3%;
}

.flex_left {
  width: 30%;
}

.flex_right {
  width: 75%;
}

/*.button {*/
/*  margin-top: 10px;*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*  .flex_container {*/
/*    display: block;*/
/*    text-align: center;*/
/*  }*/
/*  .flex_left {*/
/*    width: 100%;*/
/*  }*/
/*  .flex_right {*/
/*    width: 100%;*/
/*  }*/
/*}*/
